#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}


/* App.css */
/* App.css */
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}


/* App.css */
/* App.css */
@keyframes gradientBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body {
  background: linear-gradient(to right top,  #73372c, #995454, #be7481, #e097b0, #ffbce1 );
  background-size: 200% 200%;
  animation: gradientBackground 15s infinite;
  transition: background-color 1s ease-in-out;
}





